.select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0 1rem;
    border-radius: 0.5rem;
    background-color: #ECEFF1;
}

.select span {
    background-color: #283593;
    color: white;
    width: 2rem;
    line-height: 2rem;
    border-radius: 0.5rem;
    text-align: center;
}

.groupCheckboxIcon {
    align-items: center;
    display: flex;
}

#arrow {
    transition: all 180ms ease-in 80ms;
}