:root {
  --bgColor: rgba(75, 85, 99, 1);
}

body {
  background-color: var(--bgColor);
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  margin: 2rem;
  gap: 1.5rem;
}

.selects {
  width: 100%;
}